<!-- <h1 mat-dialog-title>Add Ticket</h1> -->
<h1 mat-dialog-title>{{this.Data?._id?"Edit Ticket":"Add Ticket"}}</h1>
<div mat-dialog-content>
  <mat-form-field appearance="fill">
    <mat-label>Name</mat-label>
    <input matInput disabled [(ngModel)]="model.Uname">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Date</mat-label>
    <input matInput disabled [(ngModel)]="model.CreatedDate">
  </mat-form-field>

  <mat-form-field class="Desc" appearance="fill">
    <mat-label>description</mat-label>
    <input matInput  [(ngModel)]="model.desc">
  </mat-form-field>
  
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancle</button>
  <button mat-button (click)="onSubmit()" mat-dialog-close>Submit</button>
</div>
